{% extends 'rest_framework_swagger/base.html' %}

{% load i18n %}

{% block extra_nav %}
    <div class="input">
        <a class="header__btn" href="{% url 'download_angularjs_components' %}">{% trans 'Download AngularJS Components' %}</a>
    </div>
{% endblock %}
